@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-section {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(./img/main-page-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main section design */
.brand-intro {
  background-color: hsla(0, 0%, 100%, 0.15);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 60%;
  padding: 10rem;
  border-radius: 10px;
}

.brand-intro h1 {
  font-family: "Hurricane", cursive;
  font-size: 10rem;
  background: linear-gradient(to right, #ffb0b0, #bf86fc, #5fecff);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: lighter;
  font-style: italic;
}

.brand-intro h2 {
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-weight: lighter;
  font-size: 2.5rem;
}

/* Second section */
#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(./img/presentation-cover.jpg);
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#presentation h1 {
  font-family: "Hurricane", sans-serif;
  font-size: 10rem;
  font-weight: lighter;
  padding: 7rem 0 5rem 0;
  color: #ffffff;
}

.product-img {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 7rem;
}

.product-img img {
  width: 20rem;
}

.agenda,
.canvas,
.bookmark {
  background-color: rgba(255, 255, 255, 0.742);
  padding: 3rem 2rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agenda h3 {
  padding: 5rem 0;
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
}

.canvas h3 {
  padding: 5rem 0;
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
}

.bookmark h3 {
  padding: 5rem 0;
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: "mulish", sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
